.header {
    display: flex;
    padding: 15px 40px;
    border-bottom: 1px solid #f0f0f0;
}

.logo-small {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.music-icon {
    font-size: 24px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .form-group {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 15px;
    }

    .logo-small {
        font-size: 16px;
    }

    .music-icon {
        font-size: 20px;
    }
}